@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #212529;
}

* {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: baseline;
}

.right-side,
.left-side {
  width: 50vw;
}

.right-side {
  background: #fd5334;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  animation: appear 0.3s;
}

@keyframes appear {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.right-child-div {
  position: relative;
  top: 228px;
  left: 85px;
  width: max-content;
}

.right-child-div h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 109px;
  text-transform: uppercase;
}

.right-child-div h1:first-child {
  display: flex;
  align-items: center;
  column-gap: 26px;
  font-weight: 800;
}

.right-child-div h1:nth-child(2) {
  font-weight: 900;
}

.right-child-div span {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.right-child-div button {
  position: relative;
  width: 191px;
  height: 53px;
  background: #212529;
  border-radius: 8px;
  top: 102px;
}

.right-child-div button a {
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-decoration: none;
}

.right-child-div button:hover {
  background: #212529;
  outline: 4px solid #c2a5f9cc;
}

/* 
.left-side {
} */

.left-head {
  background: #7025fb;
  height: 84px;
}

.left-head img {
  position: relative;
  left: 6.5%;
  top: 35.71%;
}

.left-body {
  position: relative;
  background-image: url('./images/Landing-page-scrolling-photo-1.png');
  background-position: 0 -84px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  height: calc(100% - 84px);
  transition: 0.3s;
}

/* regirstation part ***** */

/* classes */

/* parent div of form element */
.personal-info {
  place-items: center;
  margin: 0;
  min-height: 100vh;
  width: 50vw;
  display: none;
}

.personal-info * {
  font-family: 'Open Sans';
}

/* small header text above steps */
.form-part-header {
  position: absolute;
  top: 30px;
  left: calc(50% + 48px);
}
.form-part-header::after {
  content: '';
  position: absolute;
  top: 50px;
  left: -48px;
  height: 1px;
  width: 50vw;
  background: rgba(185, 180, 196, 0.3);
}

.form-part-header h3 {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #212529;
}

/* progress bar */
.progress-bar {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 40px);
  column-gap: 182px;
  margin-bottom: 140px;
  margin-left: 59px;
  counter-reset: step;
}

.progress-bar::before,
.progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  /* width: 100%; */
  width: 260px;
  background: rgba(185, 180, 196, 0.3);
  z-index: -1;
}

.progress-step {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #e5e6e8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #95939a;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
  font-weight: 700;
  font-size: 18px;
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 50px;
  width: max-content;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  z-index: 2;
}
/* class that will display checked box */
.checked::before {
  content: '';
  background-image: url('./images/checked.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  position: absolute;
  top: 13px;
  left: 8px;
  z-index: 3;
  width: 23px;
  height: 13px;
}

.progress-step-active {
  background: #e9faf1;
  color: #212529;
}

/* form */
.registerForm {
  width: 775px;
  margin: 0 auto 0 48px;
  /* border: 1px solid black; */
}

.step {
  display: none;
  transform-origin: right;
  animation: animate 0.3s;
}

.active {
  display: block;
}

@keyframes animate {
  from {
    transform: scale(0, 1);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.head-group {
  margin-bottom: 55px;
}
.head-group > h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.head-group > h3 {
  font-weight: 600;
  font-size: 14px;
  color: #95939a;
  text-transform: capitalize;
}

.input-group {
  margin-bottom: 0px;
  margin: 30px;
}

.input-group input {
  /* styling form inputs globally*/
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  padding: 10px 16px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 40px;
}
/* succsess */
/* .input-success */

.input-success {
  background-image: url('./images/input-checked.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 13px) 13px;
  background-attachment: local;
}

.input-invalid {
  background: #ffefef;
  color: #dc3545;
}

/* hover */
.input-group input:hover {
  background: #f8f9fa;
  color: rgba(33, 37, 41, 0.5);
}
/* active */
.input-group input:active,
.input-group input:focus {
  background: #e9ecef;
  color: #212529;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}
/* removing callendar icon from date input */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* buttons part */

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 88px;
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  height: fit-content;
  padding: 13px 24px;
  border-radius: 8px;
}

.btn-prev {
  width: 93px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
}
.btn-prev:hover {
  background: rgba(185, 180, 196, 0.3);
  border: 1px solid rgba(194, 165, 249, 0.8);
}

.btn-next {
  width: 128px;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  transition: 0.3s;
  margin-left: auto;
}

.btn-next:hover {
  background: #212529;
  outline: 4px solid #c2a5f9cc;
}

.hide-btn {
  display: none;
}

/* dropdown select part */

.select-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 23px;
  height: 100px;
  align-items: flex-end;
  margin-bottom: 80px;
}

.dropdown {
  width: 392px;
  position: relative;
}

.dropdown h2 {
  height: fit-content;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  background: #fff;
  color: #000;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.dropdown h2::after {
  content: '';
  background: url('images/dropdown-arrow.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 0px;
  top: 15px;
  transition: all 0.1s;
}

/* .arrow class is to rotate arrow for dropdown menu */
.dropdown .arrow::after {
  transform: rotateX(180deg);
  top: -15px;
}

.dropdown-options {
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  width: 392px;
  height: 199px;
  opacity: 0;
  transition: all 0.3s;
  overflow-y: scroll;
  top: 50px;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px 0;
}

/* class added to .dropdown-options element to display list */
.actived {
  display: block;
  opacity: 1;
  transition: all 2s;
  z-index: 2;
}

.dropdown-options::-webkit-scrollbar {
  width: 8px;
  background: #ffffff;
  border-radius: 8px;
}
.dropdown-options::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 8px;
}

.dropdown-options li {
  /* height: 45px; */
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  padding: 0.6em 1em;
}

.dropdown-options li:hover {
  background: #f7f7f9;
  font-weight: 600;
}

/* choose player dropdown */
.second-dropdown-options {
  height: 419px;
}

.second-dropdown-options li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-dropdown-options img,
#player img {
  width: 100px;
  object-position: right;
  object-fit: contain;
  height: 72px;
  border-radius: 4px;
  justify-self: last baseline;
}

#player img {
  position: relative;
  right: 25px;
}

/* question part */
.question-group {
  margin: 26px 0 116px 0px;
  padding: 8px 16px;
}

.question-group p {
  padding: 8px 0;
  font-weight: 400;
  font-size: 20px;
}

.question-group .choice {
  display: inline;
  margin-right: 16px;
  top: 12px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
}
.question-group input {
  width: 20px;
  height: 20px;
}
.question-group label {
  position: relative;
  top: -5px;
}

/* error mesage box styling */
.errors {
  position: absolute;
  top: 206px;
  right: 39px;
}
.error-message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 87px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 20px;
  animation: error-animate 0.5s;
}

@keyframes error-animate {
  from {
    transform: scale(0) rotate(-10deg);
    opacity: 0.5;
  }

  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.error-top {
  font-size: 14px;
  font-weight: 600;
  height: 39px;
  color: #dc3545;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #0000000e;
}
.error-top span {
  display: flex;
  align-items: center;
}
.error-top span > img {
  margin-right: 10px;
}
.close-btn {
  cursor: pointer;
  /* width: 15px; */
  padding: 10px;
}

.error-bottom {
  font-weight: 400;
  height: 48px;
  width: 100%;
  font-size: 16px;
  color: #212529;
  justify-self: center;
  align-self: center;
  padding: 12px;
}

.hide-error {
  display: none;
}
