@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.right-side,
.left-side {
  width: 50vw;
}

.right-side {
  background: #fd5334;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.right-child-div {
  position: relative;
  top: 228px;
  left: 85px;
}

.right-child-div h1 {
  color: #fff;
  font-size: 5rem;
  line-height: 109px;
  text-transform: uppercase;
}

.right-child-div h1:first-child {
  display: flex;
  align-items: center;
  column-gap: 26px;
  font-weight: 800;
}

.right-child-div h1:nth-child(2) {
  font-weight: 900;
}

.right-child-div span {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.right-child-div button {
  position: relative;
  width: 191px;
  height: 53px;
  background: #212529;
  border-radius: 8px;
  top: 102px;
}

.right-child-div button a {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  text-decoration: none;
}

.right-child-div button:hover {
  background: #212529;
  outline: 4px solid rgba(194, 165, 249, 0.8);
  border-radius: 8px;
}

/* 
.left-side {
} */

.left-head {
  background: #7025fb;
  height: 84px;
}

.left-head img {
  position: relative;
  left: 6.5%;
  top: 35.71%;
}

.left-body {
  position: relative;
  background-image: url('./images/Landing-page-scrolling-photo-1.png');
  background-position: 0 -84px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  height: calc(100% - 84px);
}
